{% extends "pulsifi/base.html" %}
{% load static %}

{% block title %}Feed{% endblock %}

{% block content %}
    {% if highlight %}
        {% include content_iterate_snippet with content=highlight %}
    {% elif failed_highlight %}
        <h3>{{ failed_highlight }}</h3>
    {% endif %}

    <div class="container py-5">
        <div class="mx-auto">
            <div class="container-fluid p-5">
                <div class="row">
                    <div class="col-sm">
                        <h1 style="color:#ba03fc">Your Feed</h1>
                    </div>
                    <div class="col-sm-2 pt-3">
                        <button type="button" class="btn w3-purple" style="float: right;" id="create-pulse-modal-button">New Pulse</button>
                    </div>
                </div>
            </div>
        </div>

        {% if not pulse_list %}
            No following
        {% else %}
            {% for pulse in pulse_list %}
                {% include content_iterate_snippet with content=pulse %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block modals %}
    {% include "pulsifi/modals/create_pulse.html" %}
    {% include "pulsifi/modals/create_reply.html" %}
    {% include "pulsifi/modals/create_report.html" %}

    <div class="modal-backdrop fade show" id="backdrop" style="display: none;"></div>
    <script>
        function startTimer(duration, display) {
            let start = Date.now(),
                diff,
                minutes,
                seconds;

            function timer() {
                // get the number of seconds that have elapsed since
                // startTimer() was called
                diff = duration - (((Date.now() - start) / 1000) | 0);

                // does the same job as parseInt truncates the float
                minutes = (diff / 60) | 0;
                seconds = (diff % 60) | 0;

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = minutes + ":" + seconds;

                if (diff <= 0) {
                    // add one second so that the count-down starts at the full duration
                    // example 05:00 not 04:59
                    start = Date.now() + 1000;
                }
            }

            // we don't want to wait a full second before the timer starts
            timer();
            setInterval(timer, 1000);
        }


        window.onload = function () {
            let display = document.querySelector('#time');
            startTimer(600, display);

            display = document.querySelector('#time1');
            startTimer(264, display);

            display = document.querySelector('#time2');
            startTimer(220, display);
        };
    </script>
{% endblock %}

{% block scripts %}
    <script src="{% static 'pulsifi/js_snippets/modal_controller.js' %}"></script>
{% endblock %}
