{% extends "pulsifi/base.html" %}
{% load static %}
{% load socialaccount %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="mx-auto" style="width: 75%">
        <div class="container-fluid p-4 text-center">
            <h1 style="color:#ba03fc">Hello! Welcome to <strong>Pulsifi</strong></h1>
            <br>
            <h3>The most <strong><em>intense</em></strong> social media platform in existence!</h3>
            <br>
            <img class="p-3" src="{% static 'pulsifi/brand/Logo-Purple_Transparent.png' %}" width=50% alt="Pulsifi Logo">   <!--TODO: remove redundant image-->
            <br>
            <h4>How does Pulsifi work?</h4>
            <br>
            <p>We augment social media, and make it more intense than accidentally eating the stray ghost chilli in your Jalfrezi.</p>
            <p>Every time you post, your post will have just 10 minutes to survive. But, for every like your post receives, your post will be blessed with an extra 2 minutes of life. For every
                dislike
                though, it will lose 1 minute.</p>
            <p>Once 10 minutes is up, or your post has 0 likes, it will disappear off the face of the earth.</p>
        </div>
    </div>
{% endblock %}

{% block modals %}
    {% include "pulsifi/modals/login.html" %}
    {% include "pulsifi/modals/signup.html" %}

    <div class="modal-backdrop fade show" id="backdrop" style="display: none;"></div>
    <script src="{% static 'pulsifi/js_snippets/modal_controller.js' %}"></script>
    <script>
        // Get the modal
        let signup_modal = document.getElementById("sign-up");
        signup_modal.addEventListener("click", () => {
            openModal("sign-up-modal")
        });

        // Get the modal
        let signin_modal = document.getElementById("sign-in");
        signin_modal.addEventListener("click", () => {
            openModal("sign-in-modal")
        });
    </script>
    {% if request.GET.action == "login" %}
        <script>
            openModal("sign-in-modal");
        </script>
    {% elif request.GET.action == "signup" %}
        <script>
            openModal("sign-up-modal");
        </script>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'pulsifi/js_snippets/modal_controller.js' %}"></script>
{% endblock %}
